.searchIcon {
  font-size: 1.5rem;
  color: white;
}
.customNavbar {
  background-color: #2A411C;
}
.menuToggle{
  color: white;
}
.home-icon {
  font-size: 54px; /* Adjust the size of the icon */
  color: red; /* Adjust the color of the icon */
}

