/* Styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-width: 634px) {
  .navbar-laptop {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 490px) {
  .Header-title {
    font-size: 2rem !important;
  }
}
/* Styles for laptop screens */
@media only screen and (min-width: 635px) {
  .navbar-mobile {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
  .container-menu {
    justify-content: center !important;
  }
  .container-menu-buttom {
    margin: 0.75rem 0 !important;
  }
}

/* default iPad screens */
@media only screen and (min-width: 768px) {
  .col-menu-list {
    width: 100% !important;
    max-width: 100% !important;
  }
  .nav-menu-list {
    margin: 0 2% !important;
  }
}

@media only screen and (min-width: 1125px) {
  .container-menu {
    padding: 0.75rem;
  }
}
