.main_container {
  max-width: 20rem;
  margin: auto;
}
.header {
  margin-bottom: 2.5rem;
  font-weight: bold;
  font-size: 2rem;
}
.mtop {
  margin-top: 6.25rem;
}
.inputs {
  height: 3.75rem;
  border-radius: 0;
}
.btnSubmit {
  border-radius: 1.875rem;
  width: 100%;
}
.register_container {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  font-size: 0.875rem;
}
.register_check {
  font-size: 1.5625rem;
}
.register_recuerdame {
  margin-left: 0.5625rem;
  margin-right: 3.125rem;
  padding-right: -0.9375rem;
}
