.App {
  text-align: center;
  margin-bottom: 0%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 26px;

  letter-spacing: 0.03em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Header-title {
  font-size: calc(4rem + 2vmin);
  text-transform: uppercase;
  margin: 4rem;
  margin-bottom: 2rem;
  text-align: left;
  font-weight: bold;
}
#Header-description {
  margin: 0 4rem;
}
.App-header {
  background-image: url(/public/assets/HomeBack.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -20px;
}
@media (min-width: 1024px) {
  .App-header {
    background-image: url(/public/assets/HomeBack.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: -20px;
    height: 700px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 634px) {
  .Header-title {
    font-size: calc(1rem + 2vmin);
    padding-top: 1rem;
    margin: 1.5rem;
    margin-bottom: 0.2rem;
  }

  #Header-description {
    margin: 0.4rem 1.5rem;
    text-align: left;
  }
}
.imageContainer {
  position: relative;
}

.animalName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  color: red;
}
