.animalFullContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 6rem;
  margin: 4rem;
  text-align: left;
  height: auto;
  border: none;
}

.animalCard,
.card {
  border: none !important;
  background: none !important;
}
.animalContainer {
  padding: 0 !important;
}
.animalContainer a {
  text-decoration-line: none;
}
.animalImage {
  border-radius: 1rem;
}
.animalName {
  margin-top: -4rem;
  color: white;
  padding-left: 1rem;
  font-size: 2rem;
}
@media (max-width: 812px) {
  .animalName {
    margin-top: -2rem;
    color: white;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
  .animalFullContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 1.5rem;
    text-align: left;
  }
}

@media (min-width: 813px) {
  .animalFullContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 1141px) {
  .animalFullContainer {
    gap: 6rem;
  }
}
@media (min-width: 1300px) {
  .animalFullContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    gap: 1rem;
  }
}
