.animalFullContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
  margin: 4rem;
  text-align: left;
  height: auto;
  border: none;
}


.animalCard {
  border: none;
}
.animalContainer {
  padding: 0 !important;
}
.animalContainer a {
  text-decoration-line: none;
}
.animalImage {
  border-radius: 1rem;
  border: none;
}
.animalName {
  margin-top: -4rem;
  color: white;
  padding-left: 1rem;
  font-size: 2rem;
}
@media (max-width: 560px) {
  .animalName {
    margin-top: -2rem;
    color: white;
    padding-left: 0.5rem;
    font-size: 1rem;
    
  }
  .animalFullContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
    margin: 1.5rem;
    text-align: left;
  }
 
}
